# OS specific files
.DS_Store
.AppleDouble
.LSOverride

# environment
.env

# IDE specific files
/.idea
/.vscode

# LLM
.claude
CLAUDE.md
.playwright-mcp

# develop notes
/.notes

# runtime files
/.runtime

# dependensies
node_modules

# provided by template
dist
dist-ssr
*.local
coverage
.nyc_output
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
